<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Techኢት:: Home</title>
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/all.min.css' %}">
    <link href="{% static 'assets/vendors/aos/aos.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/loader.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    
    
</head>
<body>
    <div class="edica-loader"></div>
    <header class="edica-header edica-landing-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
                <a class="navbar-brand" href="{% url 'blog' %}" style="font-weight: bold;color: red;">Techኢት</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#edicaMainNav" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="edicaMainNav">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link" href="#">News <i class="fa fa-caret-down"></i></a>
                            <div class="dropdown-content">
                                <a href="#">Trending News</a>
                                <a href="#">AI & Software</a>
                                <a href="#">Hardware & Gadgets</a>
                                <a href="#">Industry & Innovation</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'podcast' %}">Podcast</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quize' %}">Techኢት Quize</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Our Services</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>
                        
                      
                        {% if user.is_authenticated and user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}
       
    {% endblock %}

    <footer class="edica-footer" data-aos="fade-up">
        <div class="container">
            <div class="footer-content">
                <div class="footer-info">
                    <h3>About Us</h3>
                    <p>We are a tech's focused on providing the latest updates and insights into the tech world with a special emphasis on tech trends.</p>
                </div>
                <div class="footer-contact">
                    <h3>Contact Us</h3>
                    <p>Email: contact.techeth@gmail.com</p>
                    <p>Phone: +251994445412</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="mb-0">© 2024 Techኢት Blog. All rights reserved.</p>
            </div>
        </div>
    </footer>
    

    <script src="{% static 'assets/vendors/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/aos/aos.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        AOS.init({
            duration: 2000
        });
    </script>
</body>
</html>
