{% extends 'main/base.html' %}


{% block content %}
{% load static %}
<main style="padding-bottom: 100px;">
    <section class="edica-landing-section">
        <div class="intro">
            <h1>Welcome to Techኢት blog</h1>
            <p>This is the home Of tech news. Here you'll find the latest updates, articles, and news related to technology and tech podcast</p>
            <h3 class="edica-landing-section-subtitle" data-aos="fade-up">Recent blogs</h3>
        </div>
        <div class="container">
            <div class="row">
                {% for i in latest_post %}
                <div class="col-md-4 landing-blog-post" data-aos="fade-up">
                    <img src="/{{i.featured_image}}" alt="blog post" width="400" height="200" class="blog-post-thumbnail">
                    <p class="blog-post-category">{{i.category}}</p>
                    <h4 class="blog-post-title">{{i.title | truncatechars:25}}.</h4>
                    <p>Author:{{i.author}}</p>
                    <a href="{% url 'single_blog' i.id %}" class="blog-post-link">Learn more</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    
   
    
</main>
{% endblock %}
