{% extends 'main/base.html' %}
{% block title %}{% endblock %}
{% load static %}

{% block content %}
<!-- SVG Icon -->


<div class="edica-landing-section edica-landing-blog-posts"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="color: #343a40; font-size: 24px; font-weight: bold; padding-top: 50px;">
        <h1>Coming Soon</h1>
    </div>
    <img src="{% static 'assets/images/favicon.png'%}" alt="Your browser does not support SVGs">

</div>




<!-- 
    <style>
    
</style>
    <div class="quiz-container" style="padding-bottom: 200px; padding-top: 100px;">
        <h2>Quiz Questions</h2>
        <ol>
            {% for question in questions %}
                <li>{{ question.text }}</li>
                <ol>
                    {% if question.is_answered %}
                        {% if question.is_correct %}
                            <li class="correct">Correct!</li>
                        {% else %}
                            <li class="incorrect">Incorrect! <button onclick="revealAnswer('{{ question.correct_option }}')">Show Answer</button></li>
                        {% endif %}
                    {% else %}
                        <li><input type="radio" name="answer{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}</li>
                        <li><input type="radio" name="answer{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}</li>
                        <li><input type="radio" name="answer{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}</li>
                        <li><input type="radio" name="answer{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}</li>
                        <button onclick="submitAnswer('{{ question.id }}')">Submit</button>
                    {% endif %}
                </ol>
            {% endfor %}
        </ol>
    </div>

    <script>
        function submitAnswer(questionId) {
            // JavaScript code for submitting the answer goes here
        }

        function revealAnswer(correctOption) {
            // JavaScript code for revealing the answer goes here
        }
    </script>
  -->


    
{% endblock %}
