{% extends 'main/base.html' %}
{% block title %}{% endblock %}
{% load static %}

{% block content %}
<!-- SVG Icon -->

<div class="edica-landing-section edica-landing-blog-posts"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="color: #343a40; font-size: 24px; font-weight: bold; padding-top: 50px;">
        <h1>Coming Soon</h1>
    </div>
    <img src="{% static 'assets/images/favicon.png'%}" alt="Your browser does not support SVGs"  >
    
</div>



{% endblock %}